@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ✅ AGREGA ESTO */
  --color-brand-red: #DC2626;
  --color-brand-dark: #1D2E48;
  --color-brand-light: #F8FAFC;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 60s linear infinite;
  width: max-content;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-exo), sans-serif;
}

/* * {
  outline: 1px solid red;
} */

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

.hero-section {
  background-size: 70% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #12294b;
}

@media (max-width: 768px) {
  
  .hero-section h1,
  .hero-section p {
    text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
  }
  .hero-section {
    background-size: cover;
    background-position: left center; /* 👈 muestra la mitad izquierda */
    background-repeat: no-repeat;
    background-color: #12294b;
  }
}